<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a routerLink="/home-instructor" class="menu--link active" title="Dashboard">
                        <i class="uil uil-apps menu--icon"></i>
                        <span class="menu--label">Panel de instructor</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a routerLink="/cursos" class="menu--link" title="Courses">
                        <i class='uil uil-book-alt menu--icon'></i>
                        <span class="menu--label">Cursos</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_analyics.html" class="menu--link" title="Analyics">
                        <i class='uil uil-analysis menu--icon'></i>
                        <span class="menu--label">Analíticas</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="create_new_course.html" class="menu--link" title="Create Course">
                        <i class='uil uil-plus-circle menu--icon'></i>
                        <span class="menu--label">Crear curso</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_messages.html" class="menu--link" title="Messages">
                        <i class='uil uil-comments menu--icon'></i>
                        <span class="menu--label">Mensajes</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_notifications.html" class="menu--link" title="Notifications">
                        <i class='uil uil-bell menu--icon'></i>
                        <span class="menu--label">Notificaciones</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_my_certificates.html" class="menu--link" title="My Certificates">
                        <i class='uil uil-award menu--icon'></i>
                        <span class="menu--label">Mis certificados</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_all_reviews.html" class="menu--link" title="Reviews">
                        <i class='uil uil-star menu--icon'></i>
                        <span class="menu--label">Reviews</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_earning.html" class="menu--link" title="Earning">
                        <i class='uil uil-dollar-sign menu--icon'></i>
                        <span class="menu--label">Ganancias</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_payout.html" class="menu--link" title="Payout">
                        <i class='uil uil-wallet menu--icon'></i>
                        <span class="menu--label">Retirar</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_statements.html" class="menu--link" title="Statements">
                        <i class='uil uil-file-alt menu--icon'></i>
                        <span class="menu--label">Pagos</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_verification.html" class="menu--link" title="Verification">
                        <i class='uil uil-check-circle menu--icon'></i>
                        <span class="menu--label">Verificación</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a routerLink="/configuracion" class="menu--link" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Configuraciones</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="feedback.html" class="menu--link" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Enviar Feedback</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Left Sidebar End -->