<div class="card border-light mb-3">
    <div class="card-header">Categorias</div>
    <div class="card-body">
        <h5 class="card-title">Lista de categorias</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>estado</th>

                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let iterador of categorias">

                    <td>{{iterador.ID_CATEGORIA}}</td>
                    <td>{{iterador.NOMBRE}}</td>
                    <td>{{iterador.ESTADO}}</td>

                </tr>

            </tbody>
        </table>

    </div>
</div>