<div class="_216b01">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="section3125 rpt145">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="dp_dt150">
                                <div class="img148">
                                    <img src="assets/images/left-imgs/img-1.jpg" alt="">
                                </div>
                                <div class="prfledt1">
                                    <h2>{{usuario.NOMBRES + ' ' + usuario.AP_PATERNO + ' ' + usuario.AP_MATERNO}}</h2>
                                    <span>Estudiante</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            
                            <a id="config" [routerLink]="['/configuracion', usuario.USUARIO]" class="_216b12">
                                <span><i class="uil uil-cog"></i></span>Editar
                            </a>
                            <!-- <div class="rgt-145">
                                <ul class="tutor_social_links">
                                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tabs">
                    <nav>
                        <div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                role="tab" aria-selected="true">Acerca de</a>
                            <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses"
                                role="tab" aria-selected="false">Cursos inscritos</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b17">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tab_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                            <div class="_htg451">
                                <div class="_htg452">
                                    <h3>Acerca de mí</h3>
                                    <p>{{usuario.DESCRIPCION}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                            <div class="crse_content">
                                <h3>Cursos inscritos (8):</h3>
                                <div class="_14d25">
                                    <div class="row">
                                        <div *ngFor="let iC of cursos" class="col-lg-3 col-md-4">
                                            <div class="fcrse_1 mt-30">
                                                <a [routerLink]="['/cursos', iC.URL]" class="fcrse_img">
                                                    <img src="{{iC.RUTA_IMG}}" alt="">
                                                </a>
                                                <div class="fcrse_content">
                                                    <a [routerLink]="['/cursos', iC.URL]" class="crse14s">{{iC.TITULO}}</a>
                                                    <a class="crse-cate">{{categorias[(iC.ID_CATEGORIA_FK)-1].NOMBRE}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>