<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Sidebar Side -->
            <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">

                    <!-- Tags Widget -->
                    <div class="sidebar-widget tags-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h6>Popular Topics</h6>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="#">Animation</a></li>
                                    <li><a href="#">WordPress</a></li>
                                    <li><a href="#">Bootstrap</a></li>
                                    <li><a href="#">User Interface</a></li>
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Photoshop</a></li>
                                    <li><a href="#">Responsive Design</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe XD</a></li>
                                    <li><a href="#">Sketch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget categories-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h6>Top Categories</h6>
                            </div>
                            <div class="content">
                                <ul>
                                    <li><a href="category.html"><span class="icon flaticon-web-programming"></span>Development</a></li>
                                    <li><a href="category.html"><span class="icon flaticon-pie-chart"></span>Business</a></li>
                                    <li><a href="category.html"><span class="icon flaticon-megaphone"></span>Marketing</a></li>
                                    <li><a href="category.html"><span class="icon flaticon-computer"></span>IT and Software</a></li>
                                    <li><a href="category.html"><span class="icon flaticon-picture"></span>Photography</a></li>
                                    <li><a href="category.html"><span class="icon flaticon-ux"></span>UX Design</a></li>
                                </ul>
                                <a href="category.html" class="all-category">View All Categories</a>
                            </div>
                        </div>
                    </div>

                    <!-- Featured Widget -->
                    <div class="sidebar-widget featured-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h6>Featured Instructors</h6>
                            </div>
                            <div class="content">
                                <div class="featured-carousel owl-carousel owl-theme">

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-1.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-5.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-2.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-6.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-3.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-7.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-1.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-5.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-2.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-6.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Feature Block -->
                                    <div class="featured-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="instructor-profile.html" class="overlay-link"></a>
                                                <img src="images/resource/feature-3.jpg" alt="" />
                                                <!-- Overlay Box -->
                                                <div class="overlay-box">
                                                    <div class="overlay-inner">
                                                        <div class="overlay-content">
                                                            <!-- Author Image -->
                                                            <div class="author-image">
                                                                <img src="images/resource/author-7.jpg" alt="" />
                                                            </div>
                                                            <div class="name">Jhon Deo</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Support Widget -->
                    <div class="sidebar-widget support-widget">
                        <div class="widget-content">
                            <h5>We are here to help you</h5>
                            <div class="text">Lorem ipsum dolor sit amet, con<br>sectetur adipisicing elit, </div>
                            <a href="help.html" class="theme-btn btn-style-one"><span class="txt">Support Center</span></a>
                        </div>
                    </div>

                </aside>
            </div>

            <!-- Content Side -->
            <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
                <!-- Sec Title -->
                <div class="sec-title">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4>Cursos populares</h4>
                        </div>
                        <div class="pull-right">
                            <a href="featured-courses.html" class="see-all">Ver todos</a>
                        </div>
                    </div>
                </div>

                <!-- Featured Section -->
                <div class="featured-section">
                    <div class="row clearfix">

                        <!-- Feature Block Two -->
                        <div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="image">
                                        <a href="course-lesson.html"><img src="assets/images/curso.jpg" width="110" height="146" alt="" /></a>
                                    </div>
                                    <h6><a href="course-lesson.html">Learn IOS development, Website design, Freelancing</a></h6>
                                    <div class="text">Lorem ipsum dolor sit amet, Of the consectetur adipiscing</div>
                                    <div class="author">By: <span>John Smith</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="dark fa fa-star-o"></span>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$159</div>
                                        </div>
                                    </div>

                                    <!-- Featured Dropdown Box -->
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><span></span><i></i></a>
                                        <div class="dropdown-content">
                                            <span><i class='flaticon-share'></i>Share</span>
                                            <span><i class="flaticon-down-arrow-1"></i>Save</span>
                                            <span><i class='flaticon-cancel'></i>Not Interested</span>
                                            <span><i class="flaticon-edit-2"></i>Report</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Feature Block Two -->
                        <div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="image">
                                        <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    </div>
                                    <h6><a href="course-lesson.html">Master in website design and prototyping in sketch</a></h6>
                                    <div class="text">Lorem ipsum dolor sit amet, Of the consectetur adipiscing</div>
                                    <div class="author">By: <span>John Smith</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="dark fa fa-star-o"></span>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$159</div>
                                        </div>
                                    </div>

                                    <!-- Featured Dropdown Box -->
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><span></span><i></i></a>
                                        <div class="dropdown-content">
                                            <span><i class='flaticon-share'></i>Share</span>
                                            <span><i class="flaticon-down-arrow-1"></i>Save</span>
                                            <span><i class='flaticon-cancel'></i>Not Interested</span>
                                            <span><i class="flaticon-edit-2"></i>Report</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Feature Block Two -->
                        <div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="image">
                                        <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    </div>
                                    <h6><a href="course-lesson.html">Build responsive real world websites with HTML5 and CSS3</a></h6>
                                    <div class="text">Lorem ipsum dolor sit amet, Of the consectetur adipiscing</div>
                                    <div class="author">By: <span>John Smith</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="dark fa fa-star-o"></span>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$159</div>
                                        </div>
                                    </div>

                                    <!-- Featured Dropdown Box -->
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><span></span><i></i></a>
                                        <div class="dropdown-content">
                                            <span><i class='flaticon-share'></i>Share</span>
                                            <span><i class="flaticon-down-arrow-1"></i>Save</span>
                                            <span><i class='flaticon-cancel'></i>Not Interested</span>
                                            <span><i class="flaticon-edit-2"></i>Report</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Feature Block Two -->
                        <div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="image">
                                        <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    </div>
                                    <h6><a href="course-lesson.html">Learn IOS development, Website design, Freelancing </a></h6>
                                    <div class="text">Lorem ipsum dolor sit amet, Of the consectetur adipiscing</div>
                                    <div class="author">By: <span>John Smith</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="dark fa fa-star-o"></span>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$159</div>
                                        </div>
                                    </div>

                                    <!-- Featured Dropdown Box -->
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><span></span><i></i></a>
                                        <div class="dropdown-content">
                                            <span><i class='flaticon-share'></i>Share</span>
                                            <span><i class="flaticon-down-arrow-1"></i>Save</span>
                                            <span><i class='flaticon-cancel'></i>Not Interested</span>
                                            <span><i class="flaticon-edit-2"></i>Report</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Featured Section -->

                <!-- Courses Section -->
                <div class="courses-section">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4>Cursos recientes</h4>
                            </div>
                            <div class="pull-right">
                                <a href="latest-courses.html" class="see-all">Ver todos</a>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <!-- Course Block -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    <div class="time">10 horas</div>
                                </div>
                                <div class="lower-content">
                                    <h6><a href="course-lesson.html">Learn IOS development, Website design, Freelancing</a></h6>
                                    <ul class="post-meta">
                                        <li>Development</li>
                                        <li>JavaScript</li>
                                    </ul>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="author">By: <span>John Smith</span></div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Course Block -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    <div class="time">12 horas</div>
                                </div>
                                <div class="lower-content">
                                    <h6><a href="course-lesson.html">Learn IOS development, Website design, Freelancing</a></h6>
                                    <ul class="post-meta">
                                        <li>Development</li>
                                        <li>JavaScript</li>
                                    </ul>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="author">By: <span>John Smith</span></div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Course Block -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="course-lesson.html"><img src="assets/images/curso.jpg" alt="" /></a>
                                    <div class="time">18 horas</div>
                                </div>
                                <div class="lower-content">
                                    <h6><a href="course-lesson.html">Learn IOS development, Website design, Freelancing</a></h6>
                                    <ul class="post-meta">
                                        <li>Development</li>
                                        <li>JavaScript</li>
                                    </ul>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="author">By: <span>John Smith</span></div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="price">$15</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Courses Section -->

                <!-- Team Section -->
                <div class="team-section">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4>Popular Instructors</h4>
                            </div>
                            <div class="pull-right">
                                <a href="team.html" class="see-all">See All</a>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <!-- Team Block -->
                        <div class="team-block col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="instructor-profile.html"><img src="images/resource/team-1.jpg" alt="" /></a>
                                </div>
                                <div class="name"><a href="instructor-profile.html">Gleb Kutnesuv</a></div>
                                <div class="designation">Web Design, Dreamnet</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</div>
                                <div class="courses">3 Courses, 20+ Students</div>
                                <ul class="social-box">
                                    <li class="facebook">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li class="google">
                                        <a href="#" class="fa fa-google"></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="instructor-profile.html"><img src="images/resource/team-2.jpg" alt="" /></a>
                                </div>
                                <div class="name"><a href="instructor-profile.html">Kerstein Setia</a></div>
                                <div class="designation">Web Design, Dreamnet</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</div>
                                <div class="courses">3 Courses, 20+ Students</div>
                                <ul class="social-box">
                                    <li class="facebook">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li class="google">
                                        <a href="#" class="fa fa-google"></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="instructor-profile.html"><img src="images/resource/team-3.jpg" alt="" /></a>
                                </div>
                                <div class="name"><a href="instructor-profile.html">Dann Pety</a></div>
                                <div class="designation">Web Design, Dreamnet</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</div>
                                <div class="courses">3 Courses, 20+ Students</div>
                                <ul class="social-box">
                                    <li class="facebook">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li class="google">
                                        <a href="#" class="fa fa-google"></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="instructor-profile.html"><img src="images/resource/team-4.jpg" alt="" /></a>
                                </div>
                                <div class="name"><a href="instructor-profile.html">Chalvet Berthely</a></div>
                                <div class="designation">Web Design, Dreamnet</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</div>
                                <div class="courses">3 Courses, 20+ Students</div>
                                <ul class="social-box">
                                    <li class="facebook">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li class="google">
                                        <a href="#" class="fa fa-google"></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Team Section -->

                <!-- Testimonial Section -->
                <div class="testimonial-section">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h4>What our students say</h4>
                    </div>
                    <div class="testimonial-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote flaticon-quote"></div>
                                <div class="image">
                                    <img src="images/resource/author-8.jpg" alt="" />
                                </div>
                                <div class="name">Gleb Kutnesuv</div>
                                <div class="designation">Student</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote flaticon-quote"></div>
                                <div class="image">
                                    <img src="images/resource/author-9.jpg" alt="" />
                                </div>
                                <div class="name">Gleb Kutnesuv</div>
                                <div class="designation">Student</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote flaticon-quote"></div>
                                <div class="image">
                                    <img src="images/resource/author-8.jpg" alt="" />
                                </div>
                                <div class="name">Gleb Kutnesuv</div>
                                <div class="designation">Student</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="quote flaticon-quote"></div>
                                <div class="image">
                                    <img src="images/resource/author-9.jpg" alt="" />
                                </div>
                                <div class="name">Gleb Kutnesuv</div>
                                <div class="designation">Student</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Testimonial Section -->

            </div>

        </div>
    </div>
</div>