<app-login id="login"></app-login>
<app-register id="register"></app-register>

<app-header-iiap id="hdr-iiap"></app-header-iiap>

<app-header id="hdr-est"></app-header>
<app-left-sidebar id="lsb-est"></app-left-sidebar>

<app-header-instructor id="hdr-inst"></app-header-instructor>
<app-left-sidebar-instructor id="lsb-inst"></app-left-sidebar-instructor>

<app-navbar-admin id="hdr-adm"></app-navbar-admin>
<div id="wrpr" class="wrapper">

    <app-left-sidebar-admin id="lsb-adm"></app-left-sidebar-admin>

    <router-outlet></router-outlet>


    <app-footer-iiap id="ftr-iiap"></app-footer-iiap>

    <app-footer id="ftr-est"></app-footer>

    <app-footer-instructor id="ftr-inst"></app-footer-instructor>

</div>

