<app-header-iiap></app-header-iiap>

<!-- <app-header></app-header> -->
<!-- <app-left-sidebar></app-left-sidebar> -->

<!-- <app-header-instructor></app-header-instructor> -->
<!-- <app-left-sidebar-instructor></app-left-sidebar-instructor> -->
<div id="wrpr" class="wrapper">

    <app-about-us></app-about-us>
    <!-- <app-footer-iiap></app-footer-iiap> -->

    <!----------------------------------------------------------->

    <!-- <app-home></app-home> -->
    <!-- <app-settings></app-settings> -->
    <!-- <app-help></app-help> -->
    <!-- <app-instructor-profile></app-instructor-profile> -->
    <!-- <app-instructor-profile-public></app-instructor-profile-public> -->
    
    <!-- <app-footer></app-footer> -->

    <!----------------------------------------------------------->

    <!-- <app-dashboard-instructor></app-dashboard-instructor> -->
    <!-- <app-create-course></app-create-course> -->

    <!-- <app-footer-instructor></app-footer-instructor> -->

</div>