<header class="header clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="back_link">
                    <a href="http://localhost:4200/home" class="hde151">Volver a home</a>
                    <a href="http://localhost:4200/home" class="hde152">Volver</a>
                </div>
                <div class="ml_item">
                    <div class="main_logo main_logo15" id="logo">
                        <a routerLink="/home"><img src="assets/images/iiap-large2.svg" width="100" alt=""></a>
                        <a routerLink="/home"><img class="logo-inverse" src="assets/images/iiap-large-dark.svg" width="100" alt=""></a>
                    </div>				
                </div>				
                <div class="header_right pr-0">
                    <ul>				
                        <li class="ui top right pointing dropdown">
                            <a href="#" class="opts_account">
                                <img src="assets/images/hd_dp.jpg" alt="">
                            </a>
                            <div class="menu dropdown_account">
                                <div class="channel_my">
                                    <div class="profile_link">
                                        <img src="assets/images/hd_dp.jpg" alt="">
                                        <div class="pd_content">
                                            <div class="rhte85">
                                                <h6>Patrick</h6>
                                            </div>
                                            <span>patrick@gmail.com</span>
                                        </div>							
                                    </div>
                                    <a routerLink="/perfil-estudiante" class="dp_link_12">Ver perfil</a>						
                                </div>
                                <div class="night_mode_switch__btn">
                                    <a id="night-mode" class="btn-night-mode">
                                        <i class="uil uil-moon"></i> Modo dark
                                        <span class="btn-night-mode-switch">
                                            <span class="uk-switch-button"></span>
                                        </span>
                                    </a>
                                </div>					
                                <a routerLink="/configuracion" class="item channel_item">Configuraciones</a>
                                <a routerLink="/ayuda" class="item channel_item">Ayuda</a>
                                <a routerLink="/feedback" class="item channel_item">Enviar Feedback</a>
                                <a routerLink="/logout" class="item channel_item">Salir</a>
                            </div>
                        </li>
                    </ul>
                </div>		
            </div>		
        </div>
    </div>
</header>
