<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu" >
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a routerLink="/home" class="menu--link active" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Home</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a routerLink="/cursos" class="menu--link" title="Explore">
                        <i class='uil uil-search menu--icon'></i>
                        <span class="menu--label">Explorar</span>
                    </a>
                </li>
                <li class="menu--item menu--item__has_sub_menu">
                    <label class="menu--link" title="Categories">
                        <i class='uil uil-layers menu--icon'></i>
                        <span class="menu--label">Categorías</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Categoría 1</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Categoría 2</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#" class="sub_menu--link">Categoría 3</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="#.html" class="sub_menu--link">Categoría 4</a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a routerLink="/configuracion" class="menu--link" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Configuraciones</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a routerLink="/ayuda" class="menu--link" title="Help">
                        <i class='uil uil-question-circle menu--icon'></i>
                        <span class="menu--label">Ayuda</span>
                    </a>
                </li>
                <!-- <li class="menu--item">
                    <a routerLink="/feedback" class="menu--link" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Enviar Feedback</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="left_footer">
            <ul>
                <li><a href="about_us.html">Acerca de Nostros</a></li>
                <li><a href="contact_us.html">Contáctanos</a></li>
                <li><a href="terms_of_use.html">Copyright</a></li>
                <li><a href="terms_of_use.html">Política de Privacidad</a></li>
                <li><a href="terms_of_use.html">Términos y condiciones</a></li>
            </ul>
            <div class="left_footer_content">
                <p>© 2020 <strong>IIAP</strong>. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</nav>
<!-- Left Sidebar End -->
