<div class="sign_in_up_bg">
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
            <div class="col-lg-12">
                <div class="main_logo25" id="logo">
                    <a href="index.html"><img src="assets/images/iiap-large.svg" width="100" alt=""></a>
                    <a href="index.html"><img class="logo-inverse" src="assets/images/iiap-large-dark.svg" width="100" alt=""></a>
                </div>
            </div>
        
            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>¡Bienvenido de vuelta!</h2>
                    <p>Inicia sesión en tu cuenta del IIAP.</p>
                    <!-- <button class="social_lnk_btn color_btn_fb"><i class="uil uil-facebook-f"></i>Continue with Facebook</button> -->
                    <!-- <button class="social_lnk_btn mt-15 color_btn_tw"><i class="uil uil-twitter"></i>Continue with Twitter</button> -->
                    <!-- <button class="social_lnk_btn mt-15 color_btn_go"><i class="uil uil-google"></i>Continue with Google</button> -->
                    <form>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input class="prompt srch_explore" type="text" name="emailaddress" value="" id="usuario_f" required="" maxlength="64" placeholder="Usuario">															
                                <i class="uil uil-user icon icon2"></i>
                            </div>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input class="prompt srch_explore" type="password" name="password" value="" id="clave_f" required="" maxlength="64" placeholder="Contraseña">
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                        </div>
                        <!-- <div class="ui form mt-30 checkbox_sign">
                            <div class="inline field">
                                <div class="ui checkbox mncheck">
                                    <input type="checkbox" tabindex="0" class="hidden">
                                    <label>Recordarme</label>
                                </div>
                            </div>
                        </div> -->
                        <br>
                        <div id="alertaR" class="alert alert-danger" role="alert">
                        </div>
                        <div id="alertaV" class="alert alert-success" role="alert">
                        </div>
                        <button id="btn_login" class="login-btn">Iniciar Sesión</button>
                    </form>
                    <!-- <p class="sgntrm145">¿Problemas al iniciar sesión? <a href="forgot_password.html">Olvidé mi contraseña</a>.</p> -->
                    <p class="mb-0 mt-30 hvsng145">¿No tienes una cuenta? <a href="/register">Regístrate</a>.</p>
                    
                </div>
                <div class="sign_footer"><img src="assets/images/logo-solo-iiap.svg" width="40" alt="">© 2020 <strong>IIAP</strong>. Todos los derechos reservados.</div>
            </div>				
        </div>				
    </div>				
</div>
