<div class="sa4d25">
    <div class="container-fluid">			
        <div class="row">
            <!-- <div class="col-xl-12 col-lg-8">
                <div class="section3125">
                    <div class="explore_search">
                        <div class="ui search focus">
                            <div class="ui left icon input swdh11">
                                <input class="prompt srch_explore" type="text" placeholder="Buscar cursos...">
                                <i class="uil uil-search-alt icon icon2"></i>
                            </div>
                        </div>
                    </div>							
                </div>							
            </div> -->
            <div class="col-md-12">
                <div class="_14d25 store-wrapper">

                    <div id="cat-list" class="category_list">
                        <a class="category_item" title="all">Todo</a>
                    </div>

                    <section id="cont" class="products-list">

                        <div *ngFor="let iterador of cursos" class="product-item" title="{{iterador.ID_CATEGORIA_FK}}" >
                            <div class="fcrse_1">
                                <a [routerLink]="['/cursos', iterador.URL]" class="fcrse_img">
                                    <img src="{{iterador.RUTA_IMG}}" alt="" >
                                    <div class="course-overlay">
                                        <span class="play_btn1"><i class="uil uil-play"></i></span>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="vdtodt">
                                        <span class="vdt14">322 vistas</span>
                                        <span class="vdt14">Hace 2 días</span>
                                    </div>
                                    <a [routerLink]="['/cursos', iterador.URL]" class="crse14s">{{iterador.TITULO}}</a>
                                    <a href="#" class="crse-cate">{{categorias[(iterador.ID_CATEGORIA_FK)-1].NOMBRE}}</a>
                                    <!-- <div class="auth1lnkprce">
                                        <p class="cr1fot">Por <a href="#">XD</a></p>
                                        <div class="prce142">{{iterador.PRECIO}}</div>
                                        <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                    </div> -->
                                </div>
                            </div>													
                        </div>

                    </section>


                    <div class="row">
                        <!-- <div class="col-lg-3 col-md-4">
                            <div class="fcrse_1 mt-30">
                                <a routerLink="/cursos/curso-1" class="fcrse_img">
                                    <img src="assets/images/courses/curso-hor.svg" alt="" >
                                    <div class="course-overlay">
                                        <div class="badge_seller">Bestseller</div>
                                        <div class="crse_reviews">
                                            <i class="uil uil-star"></i>4.5
                                        </div>
                                        <span class="play_btn1"><i class="uil uil-play"></i></span>
                                        <div class="crse_timer">
                                            25 hours
                                        </div>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                        <div class="dropdown-content">
                                            <span><i class='uil uil-share-alt'></i>Share</span>
                                            <span><i class="uil uil-heart"></i>Save</span>
                                            <span><i class='uil uil-ban'></i>Not Interested</span>
                                            <span><i class="uil uil-windsock"></i>Report</span>
                                        </div>																											
                                    </div>
                                    <div class="vdtodt">
                                        <span class="vdt14">109k views</span>
                                        <span class="vdt14">15 days ago</span>
                                    </div>
                                    <a routerLink="/cursos/curso-1" class="crse14s">Complete Python Bootcamp: Go from zero to hero in Python 3</a>
                                    <a href="#" class="crse-cate">Web Development | Python</a>
                                    <div class="auth1lnkprce">
                                        <p class="cr1fot">By <a href="#">John Doe</a></p>
                                        <div class="prce142">$10</div>
                                        <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                    </div>
                                </div>
                            </div>													
                        </div> -->
                        <!-- <div class="col-md-12">
                            <div class="main-loader mt-50">													
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>																										
                            </div>
                        </div> -->
                    </div>				
                </div>				
            </div>				
        </div>
    </div>
</div>
